body{
    background-color: burlywood;
}

h1{
    text-align: center;
    color: royalblue
}
div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
